

body {
    background-color: rgb(50, 131, 212);
}

#rnum,#rdate,#inum,#idate,#cnum,#cdate,#bname,#fdate,#note,#list
{
    width: 200px;
    border: none;
    background: whitesmoke;
    border: 2px solid rgb(32, 110, 255);
    border-radius: 20px;
    padding: 3px;
    margin: 5px;
    color: rgb(0, 0, 0);

}

.card {
    padding: 20px 20px 20px 20px;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    border-color: antiquewhite;
}

.tab {
    float: right;
}

.tab-2 {
    margin-left: 50px
}

.tab-2 input {
    display: block;
    margin-bottom: 50px
}

tr {
    background-color: rgb(255, 255, 255);
}

tr:hover {
    background-color: rgb(94, 94, 94);
    cursor: pointer
}

button {
    border-radius: 20px;
    padding: 10px 20px;
    background: rgb(82, 163, 255);
    margin-top: 10px;
    margin-left: 30PX;
    border: none;
    outline: none;
}

